@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-black-heavy: #000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #ffbf00;
    --color-primary-100: #fece3f;
    --color-secondary: #fff2cc;
    --color-white: #fff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-red: #2ecc71;
    --color-separate: #ccc;
    --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, .1);
}

html,
body {
    background: var(--color-background);
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    color: var(--color-text);
}

b {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.color-primary {
    color: var(--color-primary) !important;
}

/* Navbar */
a.navbar-brand {
    margin-left: -25px;
}

.nav-link {
    color: var(--color-black);
    padding: 0 35px !important;
}

.btn-white {
    background: var(--color-white);
    color: var(--color-black) !important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: var(--box-shadow) !important;

    transition: ease-in-out all .3s;
}

.btn-white:hover {
    color: var(--color-white) !important;
    background-color: var(--color-primary);
}

.btn-white.active {
    color: var(--color-black) !important;
    background-color: var(--color-primary) !important;
}

.btn-icon {
    padding-right: 75px;
}

.btn-icon .icon {
    color: var(--color-black);
    display: inline-block;
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 6px;
}

.main-title {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 5px;
}

.subtitle {
    color: var(--color-black);
    font-size: 40px;
    margin: 5px 0 30px;
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    box-shadow: var(--box-shadow);
}

/* Banner */
.banner {
    padding: 110px 0 200px
}

.banner .text-banner {
    margin-bottom: 60px;
    user-select: none;
}

.banner .text-banner h1 {
    color: var(--color-black);
    font-size: 60px;
}

.banner .text-banner p {
    margin: 15px 0;
    font-size: 20px;
}

.banner .btn-yellow {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: var(--box-shadow);
}

.banner .btn-icon-left {
    padding-left: 70px;
}

.banner .btn-icon-left span.icon-left {
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-primary);
    width: 45px;
    height: 45px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 8px;
}

.btn-sm {
    padding: 9px 15px !important;
    border-radius: 15px !important;
    font-size: 18px !important;
}

.btn-social {
    width: 50px;
}

.card-banner {
    height: 450px;
    width: 450px;
    border-radius: 170px;
    background-color: var(--color-primary-100);
    position: absolute;
    right: 0;
    top: -80px;
}

.img-banner {
    position: absolute;
    width: 570px;
    top: 30px;
    right: 15px;
    z-index: 2;
}

.hidden {
    display: none !important;
}


.banner .card-case {
    width: 350px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -75px;
}

.banner .card-case-name {
    position: absolute;
    font-size: 12px;
    color: var(--color-primary);
    right: 20px;
    bottom: 10px;
}

/* Serviços */
.servicos {
    padding: 50px 0 150px;
}

.servicos .background-servicos {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url(../img/bg-icons-2.png);
}

.servicos .card-icon {
    padding-bottom: 5px;
    height: 140px;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servicos .card-icon img {
    max-height: 100%;
}

.servicos .card-text {
    color: var(--color-text-out);
    font-size: 15px;
    padding: 0 30px;
}

.servicos .card-text p {
    font-size: 22px;
    color: var(--color-black);
    margin-bottom: 10px;
}

/* Cardapio */

.cardapio {
    padding: 50px 0 150px;
}

.cardapio .background-cardapio {
    background: url(../img/bg-icons-1.png);
    left: 0;
    right: 0;
}

.cardapio .container-menu {
    margin-bottom: 40px;
}

.cardapio .card-item {
    height: 360px;
    margin-bottom: 15px;
}

.cardapio .card-item img {
    width: 100%;
    border-radius: 11px;
}

.cardapio .card-item .title-product {
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0;
}

.cardapio .card-item .price-product {
    color: var(--color-primary);
    font-size: 24px;
}

.cardapio .card-item .add-cart {
    display: none;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.cardapio .card-item .btn-sub {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-radius: 10px 0 0 10px;
    cursor: pointer;
}

.cardapio .card-item .btn-add {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.cardapio .card-item .number-items {
    color: var(--color-black-heavy);
    padding: 6px 15px;
    border-top: 2px solid var(--color-black-heavy);
    border-bottom: 2px solid var(--color-black-heavy);
    font-size: 18px;
}

.cardapio .card-item .btn-add-cart {
    border: 2px solid var(--color-black-heavy);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-black-heavy);
    margin-left: 15px;
}

.cardapio .card-item:hover {
    background-color: var(--color-primary);
}

.cardapio .card-item:hover .title-product {
    display: none;
}

.cardapio .card-item:hover .add-cart {
    display: flex;
}

.cardapio .card-item:hover .price-product {
    color: var(--color-black-heavy);
    margin-top: 20px;
}

.depoimentos {
    padding: 50px 0 150px;
}

.depoimentos .background-depoimentos {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background: url(../img/bg-icons-1.png);
}


.depoimentos .card-depoimentos {
    height: 390px;
    width: 390px;
    border-radius: 120px;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
}

.depoimentos .card-depoimentos img {
    z-index: 40 !important;
}

.depoimentos .container-dados-depoimento {
    display: flex;
}

.depoimentos .depoimento {
    margin-top: 70px;
}

.depoimentos .imagem-depoimento {
    height: 65px;
    width: 65px;
    background-color: var(--color-white);
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
}

.depoimentos #depoimento-1 .imagem-depoimento {
    background-image: url(../img/diego.jpg);
    background-size: cover;
}

.depoimentos #depoimento-2 .imagem-depoimento {
    background-image: url(../img/ana.jpg);
    background-size: cover;
}

.depoimentos #depoimento-3 .imagem-depoimento {
    background-image: url(../img/joao.jpg);
    background-size: cover;
}

.depoimentos .nome-depoimento {
    color: var(--color-black);
    font-size: 22px;
    margin-bottom: 5px;
}

.depoimentos .nota-depoimento {
    color: var(--color-primary);
}

.depoimentos .nota-depoimento span {
    color: var(--color-black);
}

.depoimentos .texto-depoimento {
    color: var(--color-black);
    font-size: 16px;
    display: flex;
}

.depoimentos .texto-depoimento i {
    font-size: 35px;
    color: var(--color-primary);
}

.depoimentos .texto-depoimento i:first-child {
    padding-left: 10px;
    padding-right: 35px;
}

.depoimentos .texto-depoimento i:last-child {
    padding-left: 45px;
    display: flex;
    justify-content: center;
    align-items: end;
}